extends layout

block content
  h1 Things To Do
  div
    form(action="/todo/delete", method="GET")
      for item in Items
        - var urlAddress = "http://localhost:3000/todo/view/" + item.url
        input(type="radio", name="item", value=item.url)
        a(href= urlAddress)  #{item.title}
        br
      h3 Delete checked one.
        input(type="submit", value="Agree")
        br

  h1 New To Do
  
  form(action="/todo", method="GET")
    input(type="text", name="listTitle", placeholder="List Title")
    br
    input(type="text", name="whatToDo", placeholder="What To Do")
    br
    input(type="submit", value="submit")
  
